<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Banka Bakiyeleri</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<div class ="container">
	<nav class="navbar navbar-expand-lg navbar-light justify-content-center">

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		<div class="dropdown col-l-4">
		<button class="btn btn-info dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" >
	     Bakiye İşlemleri
		</button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
	    <li><a class="dropdown-item" href="#">Bakiye Girişi</a></li>
	    <li><a class="dropdown-item" href="#">Bakiye Güncelleme</a></li>
	    <li><a class="dropdown-item" href="#">Anlık Bakiyeler</a></li>
	    <li><a class="dropdown-item" href="#">Bankalar Arası Bakiye Sorgusu</a></li>
	  </ul>
	</div>
     <div class="dropdown col-l-4">
	  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" >
	     Transfer & Ödeme
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
	    <li><a class="dropdown-item" href="#">Yatırım Girişi</a></li>
	    <li><a class="dropdown-item" href="#">Yatırım Sorgusu</a></li>
	    <li><a class="dropdown-item" href="#">Bankalar Arası Para Transferi</a></li>
	    <li><a class="dropdown-item" href="#">Bankalar Arası Para Transfer Sorgusu</a></li>
	    <li><a class="dropdown-item" href="#">Ödeme Girişi</a></li>
	    <li><a class="dropdown-item" href="#">Ödeme Sorgusu</a></li>
	  </ul>
	</div>
	<div class="dropdown col-l-3">
	  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" >
	     Raporlama İşlemleri
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
	    <li><a class="dropdown-item" href="#">Günlük Rapor</a></li>
	    <li><a class="dropdown-item" href="#">Nakit Akış Raporu</a></li>
	    <li><a class="dropdown-item" href="#">Nakit Varlıklar Raporu</a></li>
	    <li><a class="dropdown-item" href="#">Nakit Hareketler Raporu</a></li>
	    <li><a class="dropdown-item" href="#">Aktif Yatırımlar Raporu </a></li>
	    <li><a class="dropdown-item" href="#">Rapor Sorgusu</a></li>
	  </ul>
	</div>
	 <div class="dropdown col-l-3">
	  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" >
	     Düzenleme İşlemleri
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
	    <li><a class="dropdown-item" href="#">Rapor Yetkilisi Düzenleme</a></li>
	    <li><a class="dropdown-item" href="#">Finans Hesap Girişi</a></li>
	    <li><a class="dropdown-item" href="#">Finans Hesapları Düzenleme</a></li>
	    <li><a class="dropdown-item" href="#">Stopaj Oranı Değiştirme</a></li>
	  </ul>
	</div>
	 <div class="dropdown col-l-3">
	  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" >
	     Kullanıcı İşlemleri
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
	    <li><a class="dropdown-item" href="#">Şifre Değiştirme</a></li>
	    <li><a class="dropdown-item" href="#">Kullanıcı Çıkış</a></li>
	  </ul>
	  </div>
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      </ul>
  
    </div>
	</nav>

		<div class="text-center">
			<h1>Banka Bakiyeleri</h1>
		</div>
		<div>
		<table class = "table table-striped table-bordered ">
			<thead class = "table-info">
				<tr>
					<th> Banka Adı</th>
					<th> Hesap No</th>
					<th> Bakiye </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "student: ${students}">
					<td th:text = "${student.firstName}"></td>
					<td th:text = "${student.lastName}"></td>
					<td th:text = "${student.email}"></td>
					
				</tr>
			</tbody>
		
		</table>
		</div>
		<div class="text-center">
		<a th:href = "@{/students/edit/{id}(id=${student.id})}"
						 class = "btn btn-info text-center">Yolla</a>
		<a th:href = "@{/students/{id}(id=${student.id})}"
		 class = "btn btn-danger text-center">Temizle</a>
		</div>
	</div>
</body>
</html>